/* You can add global styles to this file, and also import other style files */

// @import './styles/reset.scss';
@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";

.page { 
    min-height: 100vh; 
    margin:0; 
    display:flex; 
    flex-direction:column;
    &__content {
        flex:1;
    }
}
